{% include "header.html" %}
{% include "navbar.html" %}


<body>


<!-- Code für den Button fürs Filtern mit den Optionen Pet, Glas und Karton-->
<h2> <center><font color="green"> Hier siehst du, was du alles recycled hast: </font></center></h2>
<br>
<div class="container">
<div class="container">
<a>Bitte auswählen</a>
    <form method="POST">
    <select name="Was" >
       <option>Pet</option>
      <option>Glas</option>
      <option>Karton</option>

    </select>
    <button type="submit">Senden</button>
    </form>
</div>

</div>

<!-- hier macht es eine Tabelle mit den drei Titeln die im Formularfeld sind-->
<div class="m-5"> <!-- m5 rückt die Tabelle einwenig ein-->
    <table class="table table-striped">
        <thead class="thead-dark">
        <!-- th = Table head-->
        <th style="width: 30%" scope="col">Datum</th>
            <th style="width: 10%" scope="col">Was</th>
            <th style="width: 30%" scope="col">Masseinheit</th>
            <th style="width: 30%" scope="col">Anzahl</th>
        </thead>
        <tbody>
        <!-- es nimmt für jedes Element in dem Dict der Jason datei die Werte und macht sie in die Tabelle rein-->
            {% for element in liste %} <!--dieses liste ist von der Definition von der Main (rot)-->
            <tr>
                <!-- jinjacode - jedes Element der Liste [Datum, Pet, Anzahl, 3] wird zu der Tabelle hinzugefügt-->
                <td class="vw-2">{{ element[0] }}</td>
                <td>{{ element[1] }}</td>
                <td>{{ element[2] }}</td>
                <td>{{ element[3] }}</td>
            </tr>
        <!-- Endfor braucht es am Ende jedes Jinja-->
            {% endfor %}
        </tbody>
    </table>
</div>

<form method="POST">
    <!-- Mit dem Zurücksetzen-Button lösche ich alle Werte aus der liste_verfallsdatum -->
    <div class="container">
        <div class="col-md-12 text-center">
            <button name="reset" value="reset" type="submit" class="btn btn-secondary">Reset</button>
        </div>
    </div>
</form>

</body>
