<!DOCTYPE html>
<html lang="en">
    <head>
      <title>Projekt GLZ</title>
      <meta charset="utf-8">
      <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    </head>
<!-- Navigation-->
    <div class="container">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
         <li class="nav-item"><a href="http://127.0.0.1:5000/" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="http://127.0.0.1:5000/form" class="nav-link">Jetzt Recyclen</a></li>
        <li class="nav-item"><a href="http://127.0.0.1:5000/auswertung" class="nav-link">Auswertungen</a></li>
        <li class="nav-item"><a href="http://127.0.0.1:5000/entsorgungsalarm" class="nav-link">Entsorgungsalarm</a></li>
        <li class="nav-item"><a href="http://127.0.0.1:5000/About" class="nav-link">About</a></li>
      </ul>
    </header>
  </div>

Hallo, bitte hier eingeben was zu recyclen ist!
    <br>
    <br>
<body>

<!-- Formularfelder-->

<form method="POST">

  <div class="form-group">
    <label for="was">Was wollen Sie entsorgen?</label>
    <select class="form-control"  name= "was" id="was"> !<-- name und ID braucht es beide-->
      <option>Pet</option>
      <option>Glas</option>
      <option>Karton</option>
    </select>
  </div>
      <div class="form-group">
    <label for="Masseinheit">Gramm oder Anzahl Flaschen oder Karton</label>
    <select class="form-control"  name= "Masseinheit" id="Masseinheit">!<-- name und ID braucht es beide-->
      <option>Gramm</option>
      <option>Anzahl</option>
        <option>Kilogramm</option>
      <option>Karton</option>
    </select>
  </div>


  <div class="form-group">
    <label for="anzahl">Anzahl</label>
    <select class="form-control"  name= "anzahl" id="anzahl">!<-- name und ID braucht es beide-->
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
        <option>100</option>
      <option>200</option>
      <option>300</option>
      <option>400</option>
      <option>500</option>
    </select>
  </div>
  <div class="form-group">

<button type="submit">Senden</button>
</form>
</body>
</html>