<!DOCTYPE html>
<html lang="en">
    <head>
      <title>Projekt GLZ</title>
      <meta charset="utf-8">
      <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    </head>


<body>

<form method="POST">

  <div class="form-group">
    <label for="exampleFormControlSelect1">Was wollen Sie entsorgen?</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Pet</option>
      <option>Glas</option>
      <option>Karton</option>
    </select>
  </div>
      <div class="form-group">
    <label for="exampleFormControlSelect1">Gramm oder Anzahl Flaschen oder Karton</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Gramm</option>
      <option>Anzahl</option>
      <option>Karton</option>
    </select>
  </div>


  <div class="form-group">
    <label for="exampleFormControlSelect1">Anzahl</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="form-group">

<button type="submit">Senden</button>
</form>
</body>
</html>