{% include "header.html" %}
{% include "navbar.html" %}

<body>

<br>


<h1><center> <font color="green">  Hallo, willkommen bei reasycle!</font></center></h1>

<br>

<center><img src="{{ url_for('static', filename='reci.jpeg') }}" height="180px"></center>
<!--Quelle: https://www.pinterest.de/pin/211106301270540362/-->


<h3><center> Aktuelle Lage zu deinem Recycling: </center> </h3>



<!-- jinnjacode des alarm.py (Dort wird berechnet, wann entsorgt werden muss-->

<h5> <center> {{alarm1}} </center></h5>

<h5> <center> {{alarm2}}</center></h5>

<h5> <center> {{alarm3}} </center></h5>


<!--Quelle Button: https://stackoverflow.com/questions/10407433/how-do-i-get-my-html-button-to-delete-the-right-list-item-from-a-sqlite-database-->

<form method="POST">
    <!-- Mit dem Zurücksetzen-Button lösche ich alle Werte aus der liste_verfallsdatum -->
    <div class="container">
        <div class="col-md-12 text-center">
            <button name="reset" value="reset" type="submit" class="btn btn-secondary">Reset</button>
        </div>
    </div>
</form>


</body>


